.success {
    border: 3px solid green;
    background-color: greenyellow;
    color: white;
}
.error {
    border: 3px solid red;
    background-color: rgb(223, 82, 82);
    color: white;
}
.warning {
    border: 3px solid yellow;
    background-color:rgb(224, 224, 104);
    color: black;
}