*{
  margin: 0;
  box-sizing: border-box;
  padding: 10px;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  color: #454545;
}
.header__title{  
  padding:10px;
  border-bottom: 1px solid #454545;
}

.ex-link{
  padding:10px;
  margin-top: 10px;
  text-decoration: none;
  display: inline-block;

}
.header{
  background-color: #cccccc;
}

.resultado{
  margin: 20px auto;
  color:tomato;
}